</main>
<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 border-top" style="background-color: #212529;"> 
    <div class="col-md-4 d-flex align-items-center"> 
    <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1" aria-label="Bootstrap"> 
            <svg class="bi" width="30" height="24" aria-hidden="true">
                <use xlink:href="#bootstrap"></use></svg></a> 
    <span class="mb-3 mb-md-0 text-body-light" style="color: #eeeeee;">© FarziBoyDev</span> 
</div> 
<ul class="nav col-md-4 justify-content-end list-unstyled d-flex"> 

    <li class="ms-3"><a class="text-body-secondary " href="https://mail.google.com/mail/?view=cm&fs=1&to=mirzafarzan@gmail.com" aria-label="Gmail">
        <img src="./images/gmail-logo-50.png" alt="gmail logo"></a></li> 
    <li class="ms-3"><a class="text-body-secondary" href="linelink" target="_blank" aria-label="Line">
        <img src="./images/line-50.png" alt="line logo"></a></li> 
    <li class="ms-3" style="margin-right: 10px;"><a class="text-body-secondary" href="https://www.linkedin.com/in/farzan-baig-b7b5092a5/" aria-label="Linkedin">
        <img src="./images/linkedin-50.png" alt="linkedin logo"></a></li>         
    </ul> 
</footer>


</body>
</html>