<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <link href="styles/styles.css" rel="stylesheet">
  <title>Farzi's Blog</title>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>

<body style="background-color: #212529;">
  <main class="bg-dark text-secondary">
    <div class="container"> 
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom"> 
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"> 
                <img src="images/FarziImgLogo.png" alt="Farzi Boy Developer Logo" style="border-radius: 50%; height: 50px; width: 50px;">
            </img> <span class="fs-4 px-2" style="color: white;">Farzi Boy Dev</span> </a> 
                    <ul class="nav nav-pills"> 
                        <li class="nav-item"><form action="/home" method="POST"><input type="submit" value="Home" class="nav-link active" aria-current="page"></form></li> 
                        <li class="nav-item"><a href="websites" class="nav-link">Websites</a></li> 
                        <li class="nav-item"><a href="blog" class="nav-link">Blog</a></li> 
                        <li class="nav-item"><a href="https://farziboydev.github.io/Front-end-completed/" class="nav-link">About</a></li>  
                    </ul> 
                </header> 
            </div>