<%-include("partials/header.ejs")  %>

<div class="row mb-2 container makeitcenter"> 

    <div class="col-md-6"> 
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"> 
            <div class="col p-4 d-flex flex-column position-static"> 
                <strong class="d-inline-block mb-2 text-primary">Game</strong> 
                <h3 class="mb-0" style="color: white;">Simon Game</h3><img src="images/SimonGameSS.jpg" class="d-block" alt="Simon Game" height="200px" width="200px" style="object-fit:contain; justify-self: center;">  
                <p class="card-text mb-auto">Remember the pattern and keep up with the sequence. You can save your highscore and even cheat if you forget the sequence.</p> 
                <a href="https://farziboydev.github.io/simonGame/" class="icon-link gap-1 icon-link-hover stretched-link">Visit</a> 
            </div> 
        </div> 
    </div> 

    <div class="col-md-6"> 
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"> 
            <div class="col p-4 d-flex flex-column position-static"> 
                <strong class="d-inline-block mb-2 text-primary">Game</strong> 
                <h3 class="mb-0" style="color: white;">Dice Game</h3><img src="images/DiceGameSS.jpg" class="d-block" alt="Dice Game" height="200px" width="200px" style="object-fit:contain; justify-self: center;"> 
                <p class="card-text mb-auto">Best way to settle a conflict and make a decision. Choose the names of 2 players and set the maximum score limit. Let the random numbers settle the arguments.</p> 
                <a href="https://farziboydev.github.io/dicegame/" class="icon-link gap-1 icon-link-hover stretched-link">Visit</a> 
            </div> 
        </div> 
    </div>

    <div class="col-md-6"> 
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"> 
            <div class="col p-4 d-flex flex-column position-static"> 
                <strong class="d-inline-block mb-2 text-primary">Simulation</strong> 
                <h3 class="mb-0" style="color: white;">Drum Kit</h3><img src="images/DrumKitSS.jpg" class="d-block" alt="Drum Kit" height="200px" width="200px" style="object-fit:contain; justify-self: center;"> 
                <p class="card-text mb-auto">This is an interactive Drum Kit Simulator that works with keyboard press and touch too. Have at it and become the next rockstar.</p> 
                <a href="https://farziboydev.github.io/drumkit/" class="icon-link gap-1 icon-link-hover stretched-link">Visit</a> 
            </div> 
        </div> 
    </div>

    <div class="col-md-6"> 
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"> 
            <div class="col p-4 d-flex flex-column position-static"> 
                <strong class="d-inline-block mb-2 text-primary">Portfolio</strong> 
                <h3 class="mb-0" style="color: white;">About Me</h3><img src="images/AboutMeSS.jpg" class="d-block" alt="About Me" height="200px" width="200px" style="object-fit:contain; justify-self: center;"> 
                <p class="card-text mb-auto">This is a simple portfolio with my resume. It is one of my earliest and most cherished projects that helped me set foot in development.</p> 
                <a href="https://farziboydev.github.io/Front-end-completed/index.html" class="icon-link gap-1 icon-link-hover stretched-link">Visit</a> 
            </div> 
        </div> 
    </div>


</div>    



<%-include("partials/footer.ejs")  %>